@use '../../scssCommonFile/mixins.scss' as style;

.about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    @include style.card-style;

    &__content {
        margin-left: 20px;
        line-height: 1.3;
        & > h1 {font-size: clamp(10px, 5vw, 35px);}
        & > h2 {font-size: clamp(10px, 5vw, 25px);}
        & > p {font-size: clamp(10px, 5vw, 18px);}
    }
    &__img {
        justify-self: center;
        overflow: hidden;
        width: 400px;
        height: 400px;
        max-width: 500px;
        // background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        // background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
        border: 10px solid #fff;
        box-shadow: 2px 5px 10p rgba(0, 0, 0, 0.5);
        animation: ava-animate 5s infinite alternate;

        & > img {
            width: 400px;
            height: 400px;
            // animation: ava-bg 3s infinite alternate;
        }
    }
}

@keyframes ava-animate {
    0%{
        border-radius: 27% 73% 48% 52% / 17% 38% 62% 83%;
    }

    40%{
        border-radius: 61% 39% 69% 31% / 51% 59% 41% 49%;
    }

    60%{
        border-radius: 40% 60% 23% 77% / 24% 49% 51% 76%;
    }

    100%{
        border-radius: 28% 72% 56% 44% / 71% 26% 74% 29%;
    }
}

// @keyframes ava-bg {
//     from {
//         -webkit-backdrop-filter: hue-rotate(0);
//         backdrop-filter: hue-rotate(0);
//     }

//     to {
//         -webkit-backdrop-filter: hue-rotate(90deg);
//         backdrop-filter: hue-rotate(90deg);
//     }
// }

// Медия запрос__________________________________________________________________________

// 1090px
@media screen and (max-width: 1090px) {
    .about {
        justify-content: center;
        align-items: normal;
        padding: 20px 10px;

        &__content {
            padding: 0 10px;
        }
        &__img {
            justify-content: center;
            overflow: visible;
            border: none;
            box-shadow: none;
            animation: none;
            width: 200px;
            height: 200px;
            margin-bottom: 20px;

            & > img {
                border-radius: 10%;
                width: 100%;
                height: 200px;
             }
        }
    }
}
// 500px
@media screen and (max-width: 500px) {
    .about__content {
        margin-left: 0;
        padding: 0;
    }
}