.button-scroll-up {
    display: block;
    width: 40px;
    font-size: 30px;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 20px;

    &:hover {
        color: #000000;
        background-color: #ffffff;
    }
}