.section {
    padding: 150px 0;
    height: 100%;
    width: 100%;
    
    &:last-child {
        padding-bottom: 50px;
    }
    &__header {
        text-align: center;
        margin-bottom: 50px;
        &::after {
            display: block;
            content: '';
            margin: 30px auto 0;
            width: 80px;
            border-bottom: 3px solid #ffffff;
        }
    }
    &__title {
        font-size: clamp(5px, 5vw, 30px);
        letter-spacing: 4px;
    }
}

// Медия запрос__________________________________________________________________________

// 900px
@media screen and (max-width: 900px) {
    .section {
        padding: 100px 0;
    }
}

// 390px
@media screen and (max-width: 390px) {
    .section {
        padding: 50px 0;
        
        &__header {
            margin-bottom: 40px;
        }
    }
}

// @media screen and (hover: none) {
//     .deploy-btn:active {
//         background-image: linear-gradient(135deg, #2c6d0c 10%, #3ae3a2 40%, #30ae54 80%);
//     }
// }