.home {
    width: 100%;
    height: 100%;
    position: relative;
    
    &__content {
        letter-spacing: 5px;
        -webkit-user-select: none;
        user-select: none;
        text-align: center;
        position: absolute;
        top: 40%;
        right: 0;
        left: 0;
    }
    &__title {
       font-size: clamp(15px, 5vw, 40px);
       font-weight: 900;
    //    margin-bottom: 20px;
       position: relative;
       animation: home-title 3s 1;
    }
    // &__subtitle {
    //     font-size: clamp(15px, 3vw, 30px);
    //     font-weight: 900;
    //     animation: home-subtitle 3s 1;
    // }
 }
 
 .holder {
    height: 100vh;
    width: 100vw;
    position: relative;
 }
 
 .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }
 
@keyframes home-title {
    0%{
        color: #000000;
    }
    30%{
        color: #ffffff;
        letter-spacing: 55px;
    }
    85%{
        color: #ffffff;
        letter-spacing: 5px;
    }
}
 
//  @keyframes home-subtitle {
//      0%{
//         color: transparent;
//      }
 
//      85%{
//         color: transparent;
//      }
//  }

 // Медия запрос__________________________________________________________________________

// 1100px
@media screen and (max-width: 1350px) {
    @keyframes home-title {
        0%{
            color: #000000;
        }
        30%{
            color: #ffffff;
            letter-spacing: 30px;
        }
        100%{
            color: #ffffff;
            letter-spacing: 5px;
        }
    }
}


// 940px
@media screen and (max-width: 940px) {
    .home__content {
        letter-spacing: 3px;
    }

    .home__title {
        position: relative;
        animation: home-title 3s 1;
    }

    @keyframes home-title {
        0% {
            color: #000000;
            position: relative;
            top: 0;
            left: -200px;
        }

        50% {
            position: relative;
            top: 0;
            left: 0;
        }

        100% {
            color: #fffefe;
            position: relative;
            top: 0;
            left: 0;
        }
    }
}