@use '../mixins/mixins.scss' as style;

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @include style.card-style;

    &__title {
        font-size: clamp(10px, 5vw , 24px);
    }
    &__content {
        width: 50%;
        font-size: clamp(10px, 5vw, 18px)
    }
    &__stack {margin-bottom: 20px;}
    &__description {margin-bottom: 30px;}
    &__img {
        width: 100%;
        height: 250px;
        border: 2px solid #808080;
        border-radius: 10px;
        margin-left: 10px;
    }
    &:last-child {margin: 0;}
}

.deploy-btn {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(135deg, #0c416d 10%, #60aabb 40%, #6d3eda 80%);
    border: 1px solid transparent;
    border-radius: 20px;
    &:hover {
        background-image: linear-gradient(135deg, #2c6d0c 10%, #3ae3a2 40%, #30ae54 80%);
    }
}
.source-btn {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

// Медия запрос__________________________________________________________________________

// 1090px
@media screen and (max-width: 1090px) {
    .project {
        padding: 30px;
    }
}

// 860px
@media screen and (max-width: 860px) {
    .project {
        &__content {width: 100%;}
        &__title {margin-bottom: 5px;}
        &__img {display: none;}
    }
}

// 400px
@media screen and (max-width: 400px) {
    .project {
        padding: 30px 10px;
        &__stack, &__description {margin-bottom: 20px;}
    }
    
    .deploy-btn {
        display: block;
        margin: 0 0 20px;
        font-size: 15px;
    }
    .source-btn {
        display: block;
        font-size: 15px;
        text-align: center;
        margin-left: 0;
    }
}