html {
  scroll-behavior: smooth;
}

// Выставляем основные настройки по-умолчанию для body
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    color: #ffffff;
    background-color: black;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  
// Указываем box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Убираем внутренние отступы
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

// Убираем внешние отступы
// Убираем внутренние отступы
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

//______________________________________
a {
    color: #ffffff;
    text-decoration: none;
}

input, textarea, button {
    border: none;
    outline: none;
  }