.contact__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__item {
    width: 50%;
    & > ul { //Список: контакты, резюме
        & > h2 {
            font-size: clamp(10px, 5vw , 30px);
            margin-bottom: 5px;
        }
        li {
            margin-bottom: 10px;
            font-size: 18px;
            & > a {
                text-decoration: underline;
            }
        }
    }
    & > img {width: 400px; height: auto;} // 3Д персонаж
    &:last-child { // Фон 3Д персонажа
        text-align: center;
        background-image: linear-gradient(135deg, #0c416d 10%, #60aabb 40%, #6d3eda 80%);
        box-shadow: inset 0 5px 100px 5px blue;
        border-radius: 50%;
    }
}

.contact__item--mobile, .contact__item--mobile-second {
    display: none;
    margin: 0 auto;
    & > div { //Список: контакты, резюме
        margin-bottom: 20px;
        &:last-child {margin-bottom: 0};
        & > h2 {
            font-size: clamp(10px, 5vw , 20px);
            margin-bottom: 15px;
        }
        & > p {
            margin-bottom: 10px;
            font-size: 13px;
            & > a {
                text-decoration: underline;
            }
        }
    }
}

.contact > p {
    text-align: center;
    font-size: clamp(10px, 5vw ,30px);
    font-weight: 700;
    margin-top: 50px;
}

// Медия запрос__________________________________________________________________________

@media screen and (max-width: 940px) {
    .contact__inner {
        justify-content: center;
    }
    .contact__item {
        width: 100%;
        margin-left: 20px;
        &:last-child { // Фон 3Д персонажа
            & > img {
                width: 200px;
                height: auto;
            }
        }
    }
}


@media screen and (max-width: 740px) {
    .contact__item {
        margin-left: 0;
        &:last-child {display: none;} // Фон 3Д персонажа
    }
    
}

@media screen and (max-width: 470px) {
    .contact__item {display: none;}

    .contact__item--mobile {display: block;}
}

@media screen and (max-width: 280px) {
    .contact__item--mobile {display: none;}
    .contact__item--mobile-second {display: block;}
}