.header {
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__brand {
        font-size: 20px;
        font-weight: 700;
        font-family: fantasy;
        &>a {
            width: 100%;
            padding: 0 10px;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-right: 3px solid #BB9A60;
            border-left: 3px solid #BB9A60;
            animation: header-brand 5s 1;
        }
    }
}

.nav {
    display: flex;

    &__item {
        margin: 0 15px;
    }
    &__link {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: linear .1s;
        animation: nav-on 5s 1;
        &:hover {
            color: #BB9A60;
            border-color: #BB9A60;
        }
    }
}

@keyframes header-brand {
    0% {
        color: #000000;
        border-top: transparent;
        border-bottom: transparent;
        border-color: #000000;
        border-color: #000000;
        position: relative;
        top: 0;
        left: -200px;
    }

    30% {
        border-top: transparent;
        border-bottom: transparent;
        position: relative;
        top: 0;
        left: 0;
    }

    85% {
        border-top: transparent;
        border-bottom: transparent;
        position: relative;
        top: 0;
        left: 0;
    }
}

@keyframes nav-on {
    0% {
        color: #000000;
        position: relative;
        top: 0;
        right: -100px;
    }

    30% {
        position: relative;
        top: 0;
        right: 0;
    }

    85% {
        position: relative;
        top: 0;
        right: 0;
    }
}