.section {
  margin-top: 200px;
  padding: 150px 0;
  height: 100%;
  width: 100%;
  background-color: #BB9A60;
  background-image: linear-gradient(135deg, #332308 10%, #BB9A60 40%, #382506 80%);
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.section-header {
  text-align: center;
  font-size: clamp(5px, 5vw, 30px);
  margin-bottom: 80px;
}
.section-header::after {
  display: block;
  content: "";
  margin: 0 auto;
  padding-top: 30px;
  width: 80px;
  border-bottom: 3px solid #ffffff;
}

.section-title {
  letter-spacing: 4px;
}