@use '../../scssCommonFile/mixins.scss' as style;

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 30px;
    color: #ffffff;
    text-align: center;
    @include style.card-style;


    &__item {
        width: 150px;
        height: auto;
        font-size: clamp(30px, 5vw, 60px);
        span {
            display: block;
            font-size: clamp(10px, 5vw, 30px);
        }
    }
}

// Медия запрос__________________________________________________________________________

@media screen and (max-width: 463px) {
    .skills {
        padding: 50px 0;
    }
}

@media screen and (max-width: 390px) {
    .skills {
        gap: 30px;
        padding: 50px 10px;
        &__item {
            width: auto;
        }
    }
}