.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about-item {
    width: 50%;
}

.about-content {
    font-size: 18px;
    line-height: 1.5;
}

.about__box {
    height: 500px;
    width: 400px;
    max-width: 500px;
    justify-self: center;
    overflow: hidden;

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border: 10px solid #fff;
    box-shadow: 2px 5px 10p rgba(0, 0, 0, 0.5);
    animation: ava-animate 5s infinite alternate;
}

.about__box-img {
    width: 400px;
    height: auto;
    animation: ava-bg 3s infinite alternate;
}

@keyframes ava-animate {
    0%{
        border-radius: 27% 73% 48% 52% / 17% 38% 62% 83%;
    }

    40%{
        border-radius: 61% 39% 69% 31% / 51% 59% 41% 49% ;
    }

    60%{
        border-radius: 40% 60% 23% 77% / 24% 49% 51% 76% ;
    }

    100%{
        border-radius: 28% 72% 56% 44% / 71% 26% 74% 29% ;
    }
}

// @keyframes ava-bg {
//     from {
//         -webkit-backdrop-filter: hue-rotate(0);
//         backdrop-filter: hue-rotate(0);
//     }

//     to {
//         -webkit-backdrop-filter: hue-rotate(90deg);
//         backdrop-filter: hue-rotate(90deg);
//     }
// }