.section-footer {
    margin-top: 0;
    padding: 250px 0 100px;

    background-color: #134e5e;
    background-image: linear-gradient(135deg, #332308 10%, #BB9A60 40%, #382506 80%);
    clip-path: polygon(0 30%,100% 0,100% 100%,0 100%);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 600px;
    height: auto;

    margin: 0 auto;
    padding: 60px;
    text-align: center;
    background: rgb(28, 28, 28);
}

.form-title {
    margin: 0 auto 30px;
    max-width: 300px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(10px, 5vw, 50px);
    letter-spacing: 2px;
}

input:focus::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:focus:-ms-input-placeholder,
input::-ms-input-placeholder,
input:focus::placeholder { color: #1E252B; } 

input, textarea {
    padding: 20px;
    margin-bottom: 25px;
    color: #bababa;
    background-color: #111111;
}

textarea {
    margin-bottom: 60px;
    resize: none;
}

.form-button {
   height: 50px;
   color: #ffffff;
   font-size: 20px;
   font-weight: 700;
   background-color: #BB9A60;
   cursor: pointer;

   &:hover {
    background-color: #c28722;
   }
}