@use './global.scss';
@use './header.scss';
@use './home.scss';
@use './section.scss';
@use './about.scss';
@use './skills.scss';
@use './portfolio.scss';
@use './contact.scss';

@media screen and (max-width: 990px) {
    .section {
        margin: 200px 0 0;
        padding: 50px 0;
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .about {
        flex-direction: column;
        justify-content: center;
        gap: 100px 0;
    }

    .about-item {
        width: 100%;
    }

    .project-item {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 50px;
    }

    .project-filled {
        text-align: left;
    }
}


@media screen and (max-width: 770px) {

// ____________________ Nav
 
.nav {
    display: none;
 }

 // ____________________ Nav-toggle
.nav-toggle {
    width: 30px;
    padding: 12px 0;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 1;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #ffffff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.nav-toggle.active {
    position: fixed;
    top: 20px;
    z-index: 1;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(0);
}

.nav-toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(0);
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #ffffff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.nav-toggle__item::before {
    top: -10px;
}
.nav-toggle__item::after {
    bottom: -10px;
    z-index: 1;
}

// ____________________ Nav active

.menu__burger-bg.fs {
    -webkit-transform: translate3d(50%, -50%, 0);
    transform: translate3d(50%, -50%, 0);
    width: 300vw;
    height: 300vh;
    background-color: rgba(0, 0, 0, 0.95);
}

.menu__burger-bg {
position: fixed;
width: 50px;
height: 50px;
font-size: 30px;
text-align: center;
right: 25px;
top: 17px;
z-index: -1;
}

.nav.active {
    font-size: clamp(5px, 5vw, 40px);
    text-align: center;
    display: block;

    position: fixed;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.nav.active .nav-item {
    margin-bottom: 30px;
}


//____________________Section

.section-header {
    text-align: center;
    margin-bottom: 80px;

    &::after {
        display: block;
        content: '';
        margin: 0 auto;
        padding-top: 30px;
        width: 80px;;
        border-bottom: 3px solid #ffffff;
    }
}

//____________________Form

.form {
    width: 100%;
    padding: 20px;
}
}

 @media screen and (max-width: 575px) {

    .home-content {
        letter-spacing: 3px;
    }

    .home-title {
        position: relative;
        animation: home-title 3s 1;
     }
     
     @keyframes home-title {
         0%{
             color: #000000;
             margin-left: -100px;
         }

         30%{
             margin-left: 0;
         }
         85%{
            color: #fffefe;
             margin-left: 0;
         }
     }


    .section {
        margin-top: 50px;
     }
 }